{% extends "ProyectoJ/layout.html" %}
{% block content %}
<!-- <h2>{{ articulo.titulo }}</h2> -->





<div class="alert alert-info" role="alert">{{ articulo.seccion }}</div>
<p><span class="publicacion_fecha">Publicado {{ articulo.fecha_publicacion }}</span></p>

<p id="titulo" style="font-size: 4em; text-align: center;">{{ articulo.titulo |safe }}</p>
<!-- <a href="{% url 'sitio:leer_mas_tarde' articulo.id %}">Leer Mas Tarde</a> -->
<div style="display: flex;">
    <p><img src="{{ media_url  }}{{ articulo.imagen.url }}" alt="{{ articulo.imagen.name }}"
            style="width: 20em;margin-top: -5em;" />
    </p>
    <div>
        <h3 style="margin-left: 2em;">Contenido:</h3>
        <p id="contenido" style="margin-left: 2em;">{{ articulo.contenido |safe }}</p><br>
        <h3 style="margin-left: 2em;">Precio :<span id="precio">$ {{ articulo.precio |safe }}</span>
            {% if user.is_authenticated %}
                {% if not perms.sitio.add_articulo %}
                <a role="button" class="btn btn-outline-success btn-sm" style="margin-left: 4em;" href="">Agregar al
                carrito</a>
                {% endif %}     
            {% endif %}</h3>
    </div>
</div>


<!-- <p>Publicado por <span class="badge badge-secondary">{{ articulo.publicador }}</span></p> -->
<a href="{% url 'sitio:index'%}">Volver</a>
{% endblock %}