{% extends "ProyectoJ/layout.html" %}
{% block content %}
<div class="container2" style="
    background-color: antiquewhite;
    height: 400px;">
    <h2 style="text-align: left">Resultado de la búsqueda</h2>
    <br><br><br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Quia exercitationem obcaecati laboriosam iste odit reprehenderit temporibus
        distinctio. Quod, laboriosam nostrum, mollitia aut quia adipisci nemo
        voluptatem harum vel illum quos!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Quia exercitationem obcaecati laboriosam iste odit reprehenderit temporibus
        distinctio. Quod, laboriosam nostrum, mollitia aut quia adipisci nemo
        voluptatem harum vel illum quos!</p>

</div>




{% endblock %}