{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <title>Proyecto Jaguarete Kaa Polotic</title>
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="{% static 'scripts.js' %}"></script>
</head>

<body>
    <div class="container">
        <header>
            <div id="bloque_login">
                {% if user.is_authenticated %}
                Bienvenido : {{ user.get_username }} <a role="button" class="btn btn-outline-warning btn-sm"
                    href="{% url 'logout'%}?next={{request.path}}">Salir</a>
                {% else %}
                <a role="button" class="btn btn-outline-success btn-sm"
                    href="{% url 'login'%}?next={{request.path}}">LOGIN</a>
                <a role="button" class="btn btn-outline-success btn-sm" href="/registrarse">REGISTRO</a>
                
                {% endif %}
                
                <a role="button" class="btn btn-outline-success btn-sm" href=""><img src="/media/imagenes/carrito.png"
                    width="20px" alt="carrito"></a>
            </div>
            <h1>JAGUARETE KAA<img src="/media/imagenes/logo.png" width="100px" alt="logo">
            </h1>
        </header>
        <nav id="menu_principal" class="navbar navbar-expand-lg navbar-light bg-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'sitio:index' %}">
                        HOME
                    </a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown">
                            CATEGORIAS
                        </a>
                        <div class="dropdown-menu">
                            {% for seccion in lista_secciones %}
                            <a class="dropdown-item"
                                href="{% url 'sitio:filtro_secciones' seccion.id%}">{{ seccion }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'sitio:acercade' %}">
                        ACERCA DE
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'sitio:index' %}">
                        CONTACTO
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'sitio:index' %}">
                        NUEVO PRODUCTO
                    </a>
                </li>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>

                <ul>
        </nav>
        <article class="cajaprin">

        </article>
       
        {% block content %}
        {% endblock %}
        <footer style="background-color: rgb(29, 25, 20);height: 90px;">
            
            <div>
                <p style="color: white;float: left;padding-top: 20px;"><img src="/media/imagenes/logo.png" width="40px" alt="logo">
                    JAGUARETE KAA S.A.</p>             
                    <p style="color: white;padding-top: 20px;text-align: right;"> <span style="margin-right: 5em;">&copy  2021</span><br>Desarrollado por Adrian Roggiero</p>>
                
            </div>

        </footer>
    </div>
</body>

</html>